/* .redirect-hero {
    width: 500px;
    height: 500px;
    border-radius: unset;
    border: unset;
} */

/* .dark .stars, 
.dark .twinkling, 
.dark .night-clouds {
  height: 60rem;
} */

#quote,
.hero-quote-bio {
    font-size: 1.5rem;
    padding-top: 10px;
}

.hero {
    background-color: transparent;
}

div#herosection.hero-section {
    margin: 0;
    padding-bottom: 0;
}

