/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 2px solid var(--secondary-color); /* Gray border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--secondary-color);
    color: var(--light-font);
    width: 8rem;
    justify-content: center;
    border: unset;
    padding-bottom: 2rem;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: var(--bold-font);
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: var(--bg-color-light);
    color: var(--primary-shadow);  
   }
  
  /* Add a background color and some padding around the form */
  .form-container {
    border-radius: 5px;
    background-color: var(--bg-color-dark);
    padding: 20px;
  }

 