:root {
    --font-family: 'DM Sans', sans-serif;
    --standard-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color-dark: #083fd0;
    --bg-color-mid: #1751f0;
    --bg-color-light: #fffffb;
    --dark-font: #0839c1;
    --shadow-font: #444444;
    --light-font: #fffffb;
    --primary-color: #083fd0;
    --secondary-color: #F609C7;
    --tertiary-color: #fffffb;
    --primary-shadow: #0839c1;
    --secondary-shadow: #d718b1;
    --tertiary-shadow: #ebebe6;
    --highlight-color: #1ce2f0;
    --box-shadow-blue: 0px 2px 15px 2px var(--primary-shadow);
    --box-shadow-pink: 0px 2px 15px 2px var(--secondary-shadow);
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
  
}
/* section for projects images and text */

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: auto;
}

.top-projects {
    display: flex;
}

.projects .projects-text {
    float: right;
    flex-basis: 45%;
    text-align: center;
    padding: 3rem;
}

.secondary-highlight {
    color: var(--bg-color-dark);
}

.projects-icon-card {
    width: 300px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    float: left;
}

.more-projects img {
    object-fit: cover;
    overflow: hidden;
    float: left;
}

.more-projects-container {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.more-projects {
    border: 2px dotted var(--bg-color-dark);
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--bg-color-light);
    max-width: 15rem;
    margin: 1rem;
}

.more-projects:hover {
    /* background-color: var(--highlight-color); */
    color: var(--secondary-shadow);
    border: 2px dotted var(--secondary-color);

}

