/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Monoton&family=PT+Mono&family=Readex+Pro&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --font-family: 'DM Sans', sans-serif;
    --standard-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color-dark: #083fd0;
    --bg-color-mid: #1751f0;
    --bg-color-light: #fffffb;
    --dark-font: #0839c1;
    --hero-font: #fffffb;
    --shadow-font: #444444;
    --light-font: #fffffb;
    --highlight-font: #F609C7;
    --primary-color: #083fd0;
    --secondary-color: #F609C7;
    --tertiary-color: #fffffb;
    --primary-shadow: #0839c1;
    --secondary-shadow: #d718b1;
    --tertiary-shadow: #ebebe6;
    --highlight-color: #1ce2f0;
    --box-shadow-blue: 0px 2px 15px 2px var(--primary-shadow);
    --box-shadow-pink: 0px 2px 15px 2px var(--secondary-shadow);
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --logo: url(mariapetra.github.io/images/LogoSVG.svg) no-repeat;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.dark {
    --bg-color-dark: #121212;
    --bg-color-mid: #0b0bc8;
    --bg-color-light: #121212;
    --dark-font: #FFFFFF;
    --shadow-font: #FFFFFF;
    --light-font: #121212;
    --highlight-font: #0977e5;
    --primary-color: #0855ed;
    --secondary-color: #0977e5;
    --tertiary-color: #0977e5;
    --highlight: #F609C7;
    --primary-shadow: #0977e5;
    --secondary-shadow: #0977e5;
    --tertiary-shadow: #0977e5;
    --highlight-color: #121212;
    --box-shadow-blue: 0px 2px 15px 2px var(--primary-shadow);
    --box-shadow-pink: 0px 2px 15px 2px #eeabef;

}

.dark body {
    background-color: var(--bg-color-dark);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family);
}

body {
    scroll-behavior: smooth;
    position: relative;
}

.dark body {
    background-color: var(--bg-color-dark);
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: var(--bg-color-light);
    z-index: 2;

}

main {
    margin: 0;
    width: 100%;
}

button {
    cursor: pointer;
}

/* body * {
    color: hsla(210, 100%, 100%, 0.88) !important;
    background: hsla(210, 100%, 50%, 0.33) !important;
    outline: 0.25rem solid hsla(210, 100%, 100%, 0.50) !important;
}

.debug-center {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.dark-mode-btn {
    background-image: url(../images/light-dark/night-mode.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    font-size: 2em;
    background-color: unset;
    margin-right: 4rem;
    border-style: none;
}

.dark .dark-mode-btn {
    background-image: url(../images/light-dark/light-mode.png);
}

.container,
.subcontainer {
    margin: auto;
    width: 100%;

}

.subcontainer {
    width: 85%;
}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-item a:hover {
    background-color: var(--secondary-color);

}

.navbar a {
    color: var(--dark-font);
    font-weight: var(--bolder-font);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
}

.navbar a:hover {
    color: var(--light-font);
    font-size: 1.5rem;
    text-decoration: underline;
}



.navbar ul {
    display: flex;
    gap: 3rem;
    margin-right: 1.2rem;
}

.navbar ul li {
    list-style-type: none;
    margin: 1rem;
    justify-items: flex-end;
}

.nav-link {
    transition: 0.7s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding-right: 10px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary-color);
}

.contact img {
    margin-right: 8rem;
    padding-bottom: 1.2rem;
}

.logo {
    background-image: url(../images/LogoSVG.svg);
    width: 300px;
    height: 90px;
    object-fit: cover;
    padding: 0.5rem;
    margin-left: 3rem;
    background-repeat: no-repeat;
}

.dark .logo,
.dark .logo:hover {
    background-image: url(../images/LogoDarkMode.svg);
    background-color: unset;
}

.hero-section,
.projects-section {
    display: flex;
    color: var(--hero-font);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2.5rem;
    max-width: auto;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 150px;
    margin-top: 50px;
}

.hero-text,
.hero-projects-text {
    text-align: center;
    font-size: 2.5rem;
    width: 25rem;
    padding: 1rem;
    z-index: 1;
    color: var(--primary-color);
    font-weight: bold;
}

.dark .hero-text {
    color: var(--dark-font);
}

.hero-img {
    width: 17rem;
    height: 17rem;
    border-radius: 360px;
    padding: 1rem;
    filter: grayscale();
    z-index: 1;
}

.hero-img:hover {
    filter: unset;
}

.index-hero {
    object-fit: cover;
    object-position: 40% 30%;
    width: 300px;
    height: 300px;
}

.highlight {
    font-weight: var(--bolder-font);
    color: var(--highlight-font);
}

.highlight-text {
    color: var(--dark-font);
}

.more-about {
    background-color: var(--bg-color-light);
    padding: 2rem 5rem;
}

.more-about h2,
.skills h2,
.projects h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: var(--bottom-margin);
    font-weight: var(--bolder-font);
    color: var(--highlight-font);
}

.more-about p {
    line-height: var(--line-height);
    padding: 1.2rem;
    font-size: 1.3rem;
}

.contact-btn {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    border: unset;
    color: var(--light-font);
    font-size: 20px;
    font-weight: bold;
    margin-top: 1.5rem;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: var(--primary-color);
    color: var(--light-font);
}

.dark .contact-btn {
    background-color: #d718b1;
    color: var(--dark-font);
}

.dark .contact-btn:hover {
    background-color: var(--highlight);
    color: var(--light-font);
}

.skills,
.projects {
    text-align: center;
    padding: 2rem 1rem;
    background-color: var(--bg-color-light);
    padding-bottom: 3rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 7rem;
    height: 7rem;
}

.icon-card {
    display: inline-block;
    background-color: var(--bg-color-light);
    border-radius: 11px;
    box-shadow: var(--box-shadow-blue);
    padding: 1.5rem;
    margin: 2rem;
}

.icon-card:hover {
    box-shadow: var(--box-shadow-pink);
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

/* .logo, */
.contact-img {
    width: 300px;
    height: 90px;
    object-fit: cover;
}

.contact-img {
    padding-top: 2rem;
    align-items: center;
}

footer {
    background-color: var(--bg-color-dark);
    font-size: 20px;
    color: var(--light-font);
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.dark footer {
    color: var(--dark-font);
}

address {
    font-style: normal;
    background-color: var(--secondary-color);
    border-radius: 20px;
    width: 30rem;
    margin: auto;
}

.contact-details {
    width: calc(100% / 2 - 10px);
    display: inline-block;
    justify-content: first center;
}

.contact-form {
    width: calc(100% / 2 - 10px);
    display: inline-block;
    justify-content: center;
    padding: 10px 25px;
    border-radius: 10px;
}

.contact-form::placeholder,
.contact-form input {
    font-weight: bold;
    font-size: 15px;
}

.connect-title {
    margin-top: 2rem;
}

.contact-form input {
    color: var(--highlight-font);
}

.contact-details a {
    color: var(--light-font);
}

.socials {
    width: 60px;
    height: 60px;
    object-fit: cover;
    padding: 0.5rem;
    margin-bottom: 4rem;
    justify-items: left;
}

.socials img {
    border: 2px solid var(--secondary-shadow);
    border-radius: 50%;
    opacity: 75%;
}

.socials img:hover {
    opacity: 100%;
    background-color: var(--secondary-color);
}

.connect-title {
    padding: 5px 30px;
    font-size: 25px;
    font-size: 40px;
    border-radius: 5px;
}

/* forms */

.form-section {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: var(--highlight-color);
}

.form-item label {
    flex-basis: 500px;
    font-size: 22px;
    color: var(--dark-font);
    font-weight: bold;
}

.form-item input,
.form-item textarea {
    display: flex;
    flex-basis: 50%;
    border: 2px solid var(--bg-color-dark);
    border-radius: 20px;
    flex-basis: column wrap;
    height: 2rem;
    width: 15rem;
    margin: 10px;
    padding: 0.5rem;
    text-align: center;
    justify-content: space-between;
    font-size: 15px;
    color: var(--highlight-font)
}

.form-item input::placeholder,
.form-item textarea::placeholder {
    color: var(--highlight-font);
    opacity: 50%;
}

.form-item textarea {
    height: 10rem;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid var(--secondary-color);
}

.form-item button {
    background-color: var(--bg-color-dark);
    color: var(--light-font);
    width: 8rem;
    justify-content: center;
    border: unset;
    padding-bottom: 2rem;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: var(--bold-font);
    margin-left: 70px;
    margin-top: 10px;

}

.form-item button:hover {
    background-color: var(--secondary-color);
    color: var(--light-font);
}

.secondary-highlight {
    color: var(--dark-font);
}

/* projects section */

.more-about-projects {
    display: flex;
    padding: 1.2rem;
    justify-content: space-between;
    gap: 50px;
}

.projects-highlight {
    margin-bottom: 10rem;
}

.projects-image {
    width: 600px;
    height: 400px;
    margin-top: 2rem;
}

.projects-text {
    font-size: 1.5rem;
    margin-left: 2rem;

}


.dark .form-item button {
    background-color: var(--primary-color);
    color: whitesmoke;
}

.dark .form-item button:hover {
    background-color: var(--highlight);
    color: var(--light-text);
}



/* media queries */


/* 2340x1080 pixels at 476ppi - iphone 13 settings*/








/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {

    #formbutton-container {
        display: none;
    }

    a .logo {
        width: 60px;
        height: 20px;
        object-fit: cover;
    }

    .hero-section,
    .icon-card {
        flex-flow: column wrap;
        font-size: 70%;
    }

    .hero-section .hero-text,
    .hero-section .hero-projects-text {
        max-width: 70%;
    }

    .navbar a {
        font-size: 1rem;
    }

    .navbar a:hover {
        font-size: 1.5rem;
    }

    .hero-img {
        width: 15rem;
        height: 15rem;
    }

    .hero-text p {
        font-size: 2rem;
        align-items: center;
    }

    .more-about {
        padding: 2rem 1rem;
    }

    .more-about .highlight h2 {
        font-size: 0.7rem;
    }

    .highlight-text {
        font-size: 1rem;
    }

    .icon-card {
        width: 50px;
        height: 50px;
    }

    .connect-title {
        font-size: 2rem;
    }

    .form-section {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .socials img,
    .socials img:hover {
        background-color: var(--secondary-color);
        width: 1.7rem;
        height: 1.7rem;
        opacity: 100%;
    }

    .form-section {
        width: auto;
    }

    a.logo,
    .hamburger,
    .hamburger.active {
        margin: 0;
        padding-left: 10px;
    }
}

/* Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {

    .hero-section,
    .icon-card {
        flex-flow: column wrap;
    }

    .socials {
        width: 40px;
        height: 40px;
        padding: 0.2rem;
    }

    .connect-title {
        font-size: 1.7rem;
        padding-left: 0px;
    }

    .socials:hover {
        width: 50px;
        height: 50px;
        padding: 0.2rem;
    }
}

/* Large devices (desktops, 992px and up) */

@media(max-width: 992px) {
    .hamburger {
        display: block;


    }

    .hamburger:hover {
        background-color: var(--bg-color-mid);
        border-radius: 360px;
        justify-content: center;
        padding: 0.5rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--bg-color-light);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin-top: 4.5rem;
        padding-bottom: 2rem;
    }

    .nav-item {
        margin: 16px 0;
        color: var(--light-font);
    }

    .nav-item a:hover {
        background-color: var(--secondary-color);
        color: var(--light-font);
    }

    .nav-menu.active {
        left: 0;
    }

    /* .hero-section {
        padding-top: 8rem;
    } */
}

/* Extra large devices (large desktops, 1200px and up) */



/* MASSIVE devices (large desktops, 1440px and up) */